* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  background: linear-gradient(
    68.1deg,
    rgb(248, 205, 205) -0.3%,
    rgb(149, 170, 211) 100.7%
  );
  max-width: 30%;
  height: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h1 {
  text-align: center;
  color: rgb(39, 33, 68);
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 10px;
  border: none;
  background-color: #fff;
  min-width: 40%;
}

form button {
  padding: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: rgb(149, 170, 211);
  transition: all 0.3 ease-in-out;
  background-color: #fff;
}

form button:hover {
  color: #fff;
  background-color: rgb(149, 170, 211);
}

.todo-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todo-app-list {
  min-width: 80%;
  list-style: none;
}

.todo-task {
  margin: 10px;
  background-color: #fff;
  color: rgb(39, 33, 68);
  transition: all 1s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-task li {
  flex: 1;
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.done-btn {
  background-color: rgb(149, 170, 211);
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.delete-btn {
  background-color: rgb(248, 205, 205);
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.done {
  text-decoration: line-through;
  opacity: 0.7;
}

/* .filter-tasks {
  display: flex;
  background-color: #fff;
  border: none;
  margin-top: 10px;
}

.filter-tasks button {
  padding: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
  color: rgb(149, 170, 211);
  font-weight: 500;
}

.filter-tasks button:hover {
  background-color: rgb(149, 170, 211);
  color: #fff;
} */

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.select {
  margin: 16px;
  position: relative;
  overflow: hidden;
}

select {
  color: rgb(39, 33, 68);
  width: 160px;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: rgb(149, 170, 211);
  top: 0;
  right: 0;
  pointer-events: none;
  padding: 10px;
} */
